<%- include('partials/header.ejs') %>
    <div class="container">
        <div class="row justify-content-md-center ">
            <div class="col-md-6 text-center">
                <h1>Welcome to My Todo List</h1>
                <p class="lead">made with Node js </p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-6 text-center">
                <p>
                    Created with <i class="bi bi-heart-fill text-danger"></i>
                    by <a href="#" class="text-white fw-bold"> your name</a>
                </p>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>